@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    width: 100%;
}
.seem{
    text-align: center;
    margin-top: 40px;
    font-family: inherit;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
    
}
.fl{
    background-color: white;
  
}
.col2{
    background-color: white;
    border: 1px solid black;
}
.col2:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
.imgd{
    width: 70px;
    margin-top: 20px;
}
.tct{
    margin-top: 20px;
    font-family: inherit;
    font-weight: 700;
    margin-left: 10px;
}
.fn{
    margin-top: 10px;
    color: grey;
    margin-left: 10px;
}

/* .Screen */
.screen{
    margin-top: 10%;
  
    height: 600px;
    width: 100%;
    padding:  0px 100px;
}
.imga{
    margin-top: 60px;
}
.gg{
    color: white;
    margin-top: 50%;
    font-weight: 700;
    font-size: 35px;
}
.ng{
    background-color: black;
}
.btnp{
    background-color: #D5343A;
    color: white;
    border: none;
    padding: 15px 20px;
    font-size: 15px;
    text-decoration: none;
    font-family: inherit;
    border-radius: 5px;
  }
.btnp2{
    background-color:white;
    color: black;
    border: none;
    padding: 15px 20px;
    font-size: 15px;
    text-decoration: none;
    font-family: inherit;
    border-radius: 5px;
  }
  .icond{
    font-size: 30px;
  }
  .sp2{
    margin-left: 20px;
font-weight: 900;
font-size: 20px;
  }
  .h{
    margin-left: 20px;
  }

  .sen{
    width: 100%;
  }

  /* Burden */
  .burden{
    background-color: #f3f4f6!important;
  }

  .mt{
    margin-top: 10%;
   
  }
  .mt h2{
    font-weight: 700;
  }
  .mn{
    color: #D5343A;

  }
  .st{
    width: 100%;
  }
  .mn2{
    margin-top: 5%;
  }
  .imgf{
    width: 40px;
  }
  .mtc{
margin-top: 20px;
  }
  .mtcc{
    font-weight: 700;

  }
  .mtfh{
    margin-top: 30px;
  }
  @media(max-width:500px){
    .btnp2{
       margin-top: 30px;
      }
      .imga{
        width: 100%;
      }
      .gg{
        font-size: 20px;
        margin-top: 5px;
      }
      .df{
        width: 30%;
      }
      .se{
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
      }
      .fl{
        text-align: center;
        justify-content: center;
        align-items: center;  
        
      
    }
  }
  @media(max-width:400px){
    .fl{
      margin-left: 50px;
      
    
  }
  .seem{
text-align: center;
display: flex;
margin-left: 70px;
  }
  }