@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    width: 100%;
}
.seem{
    text-align: center;
    margin-top: 40px;
    font-family: inherit;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
    
}
.fl{
    background-color: white;
  
}
.col2{
    background-color: white;
    border: 1px solid black;
}
.col2:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
.imgd{
    width: 70px;
    margin-top: 20px;
}
.tct{
    margin-top: 20px;
    font-family: inherit;
    font-weight: 700;
    margin-left: 10px;
}
.fn{
    margin-top: 10px;
    color: grey;
    margin-left: 10px;
}

/* .Screen */
.screen{
    margin-top: 10%;
  
    height: 600px;
    width: 100%;
    padding:  0px 100px;
}
.imga{
    margin-top: 60px;
}
.gg{
    color: white;
    margin-top: 50%;
    font-weight: 700;
    font-size: 35px;
}
.ng{
    background-color: black;
}
.btnp{
    background-color: #D5343A;
    color: white;
    border: none;
    padding: 15px 20px;
    font-size: 15px;
    text-decoration: none;
    font-family: inherit;
    border-radius: 5px;
  }
.btnp2{
    background-color:white;
    color: black;
    border: none;
    padding: 15px 20px;
    font-size: 15px;
    text-decoration: none;
    font-family: inherit;
    border-radius: 5px;
  }
  .icond{
    font-size: 30px;
  }
  .sp2{
    margin-left: 20px;
font-weight: 900;
font-size: 20px;
  }
  .h{
    margin-left: 20px;
  }

  .sen{
    width: 100%;
  }

  /* Burden */
  .burden{
    background-color: #f3f4f6!important;
  }

  .mt{
    margin-top: 10%;
   
  }
  .mt h2{
    font-weight: 700;
  }
  .mn{
    color: #D5343A;

  }
  .st{
    width: 100%;
  }
  .mn2{
    margin-top: 5%;
  }
  .imgf{
    width: 40px;
  }
  .mtc{
margin-top: 20px;
  }
  .mtcc{
    font-weight: 700;

  }
  .mtfh{
    margin-top: 30px;
  }
  .ser_pg{
    position: absolute;
    margin-top: 80px;
  }
  .cop{
    text-align: center;
    font-family: inherit;
    font-style: bold;
    margin-top: 60px;
    margin-bottom: 50px;
    
  }
  .codp h3{
    font-style: bold;
    margin-top: 60px;
    font-size: 40px;
    color: #374151;
    font-weight: 700;

  }
  .cp{
    height: ;
  }
  .containr{
    margin: 50px;
  }
  .pc{
    width: 500px;
    margin-left: 40px;
  }
  .pc2{
    width: 700px;
    margin-left: 40px;
  }
  .cop h3{
    font-weight: 700;
  }
  .ror{
    width: 100%;
  }
  .ror2{
    width: 100%;
    justify-content: center;
    align-items: center;
   
  }
  .cnd{
    height: 300px;
    background-color: white;
    border-radius: 10px;
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
    margin: 10px;
    text-align: center;
    margin-left: 30px;
    cursor: pointer;
  }
  .abd {
    position: absolute;
    cursor: pointer;
  
  }
.adb .lkj{
  color: black !important;
    text-decoration: none;
}
  .cnd img{
    width: 60px;
    margin-top: 20px;
  }
  .dfl{
    display: flex;
  }
  .dxx{
    margin-left: 10px;
  }
  .dxx2{
    margin-left: 20px;
    width: 500px;
  }
  .dxx2b{
    margin-left: 90px;
    margin-bottom: 20px;
  }
  .dxx2b h5{
    font-weight: 600;
  }
  .fns{
    margin-top: 70px;
  }
  .cnd p{
    font-size: 11px;
  }
  .mg{
    margin-top: 10px;
  }
  .dcv{
    width: 80%;
  }
  .bnnd{
    position: absolute;
    margin-top:-45%;
    margin-left: 60%;
  }
  .mg2{
    margin-top: 10px;
  }
  .fgf{
    width: 70px;
  }
  .dpv{
    color: #D5343A;
  }
  .ron{
    margin-top: 100px;
    border-bottom: 1px solid #ccc;
  }
  .vb{
    font-weight: 700;
    font-size: 20px !important;
  }
  .dnm{
    margin-top: 40px;
  }
  .pc h1{
    color:  #374151;
    font-size: 40px;
    font-family: inherit;
    font-weight: 800;
  }
  .pc p{
    color:  #374151;
  }
  @media(max-width:600px){
    .btnp2{
       margin-top: 30px;
      }
      .imga{
        width: 300%;
        margin-top: 2px;
      }
      .gg{
        font-size: 20px;
        margin-top: 5px;
      }
      .df{
        width: 30%;
      }
      .cp{
        width: 300px;
        margin-bottom: 10px;
      }
      .se{
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
      }
      .fl{
        text-align: center;
        justify-content: center;
        align-items: center;  
        
      
    }
    .pc{
      width: 700px;
      margin-left: 0px;
      text-align: justify;
    }
    .pc2{
      width: 900px;
      margin-left: 0px;
      text-align: justify;
    }
    .ror2{
      width: 100%;
      justify-content: center;
      align-items: center;
      margin-left: 0px;
    }
    .abd{
      margin-top: -60px;

    }
    .dcv{
      width: 80%;
    }
    .bnnd{
      position: relative;
      margin-top:0%;
      margin-left: 0%;
    }
  }
  @media(max-width:400px){
    .fl{
      margin-left: 50px;
      
    
  }
  .seem{
text-align: center;
display: flex;
margin-left: 70px;
  }
  .pc{
    width: 700px;
    margin-left: 0px;
  }
  .pc{
    width: 800px;
    margin-left: 0px;
  }
  .abd{
    margin-top: -80px;

  }

  }